<!DOCTYPE html>
<html>

<head>
<title>Cabinet de analize MEDLIFE</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>


<body>

<ul>
  <li><a href="index">Home</a></li>
  <li><a href="Pacienti">Pacienti</a></li>
  <li><a href="Analize">Analize</a></li>
  <li><a href="Asistente">Asistente</a></li>
  <li><a href="Medici_laborator">Medici laborator</a></li>
</ul>

    <div class="tabcontent">
	<center>
	<br>
  	<h1><b><i>Pacienti</i></b></h1>

        <div class="btn-group">
		<form class="was-validated" method="POST" action="/addPacient"></form>
        <a href="Adauga_Pacient"><button type="button" class="btn btn-primary" >Adauga pacient</button></a>
        <br>
		<form class="was-validated" method="POST" action="/editPacient"></form>
		<a href="Editeaza_Pacient"><button type="submit" name="id_pacient" class="btn btn-primary">Editeaza pacient</button></a>
	<br>
    </div>

    <br><br>
    <table style="width:70%">
      			<tr>
				<th><i><b>index</b></i></th>
				<th><i><b>nume_p</b></i></th> 
				<th><i><b>prenume_p</b></i></th> 
				<th><i><b>data_nasterii</b></i></th> 
				<th><i><b>CNP</b></i></th> 
				<th><i><b>varsta</b></i></th> 
				<th><i><b>gen</b></i></th> 
				<th><i><b>adresa</b></i></th> 
				<th><i><b>Stergere pacient</b></i></th> 
			
	{% for pacient in Pacienti %}
  				<tr>
    			<td>{{loop.index}}</td>
    			<td>{{pacient["nume_p"]}}</td> 
    			<td>{{pacient["prenume_p"]}}</td>
    			<td>{{pacient["data_nasterii"]}}</td>
    			<td>{{pacient["CNP"]}}</td>
    			<td>{{pacient["varsta"]}}</td>
    			<td>{{pacient["gen"]}}</td>
				<td>{{pacient["adresa"]}}</td>
	<td>
        <form class="was-validated" method="POST" action="/delPacient">
        <button type="submit" name="id_pacient" value="{{pacient['id_pacient']}}" class="btn btn-primary">Sterge</button>
		</form>
	</td>
				</tr>
	{% endfor %}
  
	</table>
      <br><br><br>
  </center>

</body>

</html> 